@model List<Menu>

<section class="admin" id="admin">
    <h1 class="heading">Admin</h1>
    <h1 class="heading"><span>Manage Menu Items</span></h1>
    
    <div class="add-new">
        <a asp-controller="CheckTableReservations" asp-action="CheckTableReservations" class="add-button">Check Table Reservations</a>
        <a asp-controller="Admin" asp-action="AddNewMenuItem" class="add-button">Add New Menu Item</a>
    </div>

    <table class="admin-table">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Description</th>
                <th>Price</th> 
                 <th>Edit</th>
                <th>Delete</th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.OrderBy(u => u.ItemID))
            {
                <tr class="admin-item">
                    <td>@obj.ItemName</td>
                    <td>@obj.Description</td>
                    <td>₹@obj.Price</td>


                    <td><a asp-controller="Admin" asp-action="EditMenuItem" asp-route-id="@obj.ItemID" class="edit-button">Edit</a></td>
                    <td><a asp-controller="Admin" asp-action="DeleteMenuItem" asp-route-id="@obj.ItemID" class="delete-button">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</section>