@model Menu

<section class="delete-menu-item" id="delete-menu-item">
    <h1 class="heading"><span>Delete Menu Item</span></h1>

    <form method="post" class="delete-menu-item-form">

        <input asp-for="ItemID" type="hidden" />

        <div class="form-field"> 
            <label for="itemName">Item Name</label>
            <input asp-for="ItemName" type="text" id="itemName" disabled />
        </div> 

        <div class="form-field">
            <label for="description">Description</label> 
            <input asp-for="Description" id="description" disabled />
        </div>

        <div class="form-field">
            <label for="price">Price</label>
            <input asp-for="Price" type="number" id="price" disabled />
        </div>

        <div class="form-field">
            <label for="url">Image URL</label> 
            <input asp-for="Url" type="text" id="url" disabled />
        </div>

        <div class="form-actions">
            <button type="submit" class="delete-menu-item-btn">Delete</button>
            <a href="/Admin/Admin" class="go-back-button">Back</a>
        </div>
    </form>
</section>