@model User
@{
    if (TempData["Error"] != null)
    {
        <script>
            alert('@TempData["Error"]');
        </script>
    }
}

<section class="login" id="login">
    <h1 class="heading">Login</h1>
    <h1 class="heading"><span>Enter your credentials to login!</span></h1>

    <div class="login-container">
        <div class="login-box">
            <form method="post" onsubmit="return validateForm()">
                <div class="login-item">
                    <label for="username">Username</label>
                    <input asp-for="Username" type="text" id="username" placeholder="Username" required/>
                </div>

                <div class="login-item">
                    <label for="password">Password</label>
                    <input asp-for="Password" type="password" id="password" placeholder="Password" required />
                </div>

                <button type="submit" class="login-btn">Login</button>
                <p class="signup-prompt">Don't have an account?</p>
                <a asp-controller="Signup" asp-action="Signup" class="signup-btn">Sign Up</a>
            </form>
        </div>
    </div>
</section>