<section class="home" id="home">
    <div class="row">
        <div class="content">
            <h3>Experience the Joy of Freshly Brewed Delights</h3>
            <a asp-controller="Order" asp-action="Order" class="btn">Order now</a>
        </div>

        <div class="image">
            <img src="/images/cold-coffee.png" class="main-home-image" alt="" />
        </div>
    </div>

    <div class="image-slider">
        <img src="/images/cold-coffee.png" alt="" class="cold-coffee" />
        <img src="/images/espresso.png" alt="" class="espresso" />
        <img src="/images/home-img-3.png" alt="" />
    </div>
</section>

<article class="video" id="video">
    <div class="video-container">
        <video autoplay loop muted>
            <source src="/images/coffee-making.mp4" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    </div>
</article>