<section class="about" id="about">
    <h1 class="heading">about us</h1>
    <h1 class="heading"><span>Why choose us</span></h1>

    <div class="row">
        <div class="image">
            <img src="/images/coffee-maker.jpg" alt="" />
        </div>  

        <div class="content">
            <h3 class="title">What's make our coffee special!</h3>
            <p>
                Welcome to our coffee store, where every cup of coffee is an experience. 
                We pride ourselves on using quality beans sourced from the world’s finest coffee-growing regions. 
                Each bean is handpicked and expertly roasted in small batches to bring out its unique flavors and aroma. 
                We grind our beans right before brewing to ensure the freshest cup of coffee. 
                Our passionate baristas, trained to brew each cup with precision and care, are the heart of our store.
                Experience the difference at our coffee store - it’s not just coffee, it’s passion in a cup.
            </p>
            <div class="icons-container">
                <div class="icons">
                    <img src="/images/about-icon-1.png" alt="" />
                    <h3>Quality Coffee</h3>
                </div>
                <div class="icons">
                    <img src="/images/about-icon-2.png" alt="" />
                    <h3>Our Branches</h3>
                </div>
                <div class="icons">
                    <img src="/images/about-icon-3.png" alt="" />
                    <h3>Free Delivery</h3>
                </div>
            </div>
        </div>
    </div>
</section>